body {
    background-color: rgb(41, 41, 41);
}

p {
    color:white;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

a {
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}
#modtitle {
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}
a:hover {
    color:rgb(30, 128, 255);
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

h4 {
    color:whitesmoke;
    font-family: "Lucida Console", "Courier New", monospace;
}


.topnavbar {
    background-color: (#333);
    color:whitesmoke;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 130px;
    font-family: Arial, Helvetica, sans-serif
}

.moddiv {
    background-color: #333;
    border-radius: 7px;
    display: list-item;
}

.moddiv:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.350);
    transition: 0.10s ease-in-out;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

.infobar {
    background-color: rgb(20, 20, 20, 0.8);
    color:rgb(165, 165, 165);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
}

#searchbar {
    background-color: #333;
    padding: 10px;
    border-color: rgb(255, 255, 255);
    border-radius: 7px;
    color:rgb(255, 255, 255);
}

@media (max-width: 700px) {
    #searchbar {
        width: 85%;
        padding-left: 7.5%;
        padding-right: 7.5%;
        justify-content: center;
        text-align: center;
    }
}

input[type=text] {
    width: 25%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
 }

 /* When the input field gets focus,
      change its width to 100% */
 input[type=text]:focus {
   width: 45%;
 }

#list{
    padding: 0px;
}
